%h2.panel__heading
  %span.fa.fa-edit
  = t('.title')
- PagePresenter.collect(@my_last_drafts).each do |page|
  %p
    = link_to page.label, edit_comfy_admin_cms_site_page_path(page.site, page)
    |
    = t('comfy.admin.cms.pages.last_edit')
    = page.last_update
